body{
	background-color: #999999;
	padding: 30px;
	font-size: 20px;
	text-align: center;			
}

a{
	font-size: 18px;
}

li{
	list-style: none;
}

.link{
	padding: 5px 15px 5px 15px;			
	border-style: solid;
	border-width: 2px;
	border-color: silver;
	background-color: aqua;
	border-radius: 20%;	
	box-shadow: 0px 0px 15px #000;
}		

a:active, a:visited, a:link, a:hover {
	text-decoration: none;
	color: black;
}

.titulo{
	border-bottom-style: solid;
	border-bottom-color: black;
	text-align: left;
}

.salir{
	position: absolute;
	left: 80%;
}

.usuarios{
	position: absolute;
	left: 70%;
}

.Crear_proyecto{
	position: absolute;
	left: 57%;
}

.iniciar{
	padding: 150px;
}

.users{
	text-align: center;
	margin-top: 50px;
	border-style: solid;
	border-color: black;
	display:inline-block;
	padding: 15px;
}

select{
	width: 180px;
}

#regresar{
	margin-top: 80px;
	margin-right: 200px;
	float: right;
}