{% extends 'base.html' %}
{% block title %}
Iniciar Sesion
{% endblock %}

{% block content %}
	<form action="." method="POST" onsubmit="return validar();">
		{% csrf_token %}
		<div align="center" class="iniciar">
			<table>
				<tr>
					<td>
						Usuario:
					</td>
					<td>
						<input type='text' name='username' id="username_login" required>
					</td>
				</tr>
				<tr>
					<td>
						Contraseña:
					</td>
					<td>
						<input type='password' name='password' id="password_login" required>
					</td>
				</tr>
			</table>
				
			<input type="submit" value="Login" class="link">
			<input type="reset" value="Cancelar" class="link"><br><br>	
					
			<a href="/user/password/reset/">Olvido su Usuario o Contraseña</a>					
		</div>
		
	</form>
	{{mensaje}}	
{% endblock %}
