{% extends 'base.html' %}
{% block title %}
Usuarios
{% endblock %}

{% block content %}
<div>
	<div class="formulario">
		<form> 
	        <fieldset>
		        <legend>Usuario</legend>
		        <p>
		        	<label>Nombre:</label>
		        	<input type='text' name='firstname' id="firstname" required><br>
		        	<label>Email:</label>
		        	<input type='text' name='email' id="email" required><br>
		        	<label>Username:</label>
		        	<input type='text' name='username' id="username" required><br>
		        	<label>Password</label>
		        	<input type='password' name='password_one' id="password_one" required><br>
		        	<label>Confirmar Password</label>
		        	<input type='password' name='password_two' id="password_two" required><br>
		           	<label>Super Usuario</label>
		            <input type = "checkbox" id = "chkEggs" value = "Super Usuario" />
		            <input type="submit" value="Guardar" class="link">
					<input type="reset" value="Cancelar" class="link"><br><br>	
		        </p>
	        </fieldset>
	    </form>		
	</div>
	
</div>

{% endblock %}
