{% endblock %}
{% block content %}
<table border="1px">
	<thead>
	<tr>
		<td><h3>Usuario</h3></td>
		<td><h3>Email</h3></td>
		<td><h3>Nombre</h3></td>
		<td><h3>Registrado Desde></h3></td>
		<td><h3>Ultimo inicio de sesion></h3></td>
		<td><h3>Opciones</h3></td>
	</tr>
	</thead>
	{% if users %}
		{% for u in users %}
			<tbody>
				<tr>
					<td>{{u.username}}</td>
					<td>{{u.email}}</td>
					<td>{{u.first_name}}</td>
					<td>{{u.date_joined}}</td>
					<td>{{u.last_login}}</td>
					<td>
						<a href="#">Eliminar</a>
						<a href="#">Editar</a>
					</td>
				</tr>
			</tbody>
		{% endfor %}
	{% else %}
		<h2>no existen asignaturas</h2>
	{% endif %}
</table>
{% endblock %}<table  class="table table-hover" border="1px">
	<thead>
	<tr>
		<td><h3>Activo</h3></td>
		<td><h3>Asignatura</h3></td>
		<td><h3>Peso de asignatura</h3></td>
		<td><h3>Fecha de creacion</h3></td>
		<td><h3>Opciones</h3></td>
	</tr>
	</thead>
</table>