{% extends 'base.html' %}
{% block title %}
Iniciar Sesion
{% endblock %}

{% block style %}
<style>
.iniciar{
	padding: 150px;
}
</style>	
{% endblock %}

{% block content %}
	<form action="." method="POST" onsubmit="return validar();">
		{% csrf_token %}
		<input type='text' name='username' id="username_login" required>
		<input type='password' name='password' id="password_login" required>
		<input type="submit" value="Login">
	</form>
	{{mensaje}}
	<a href="/user/password/reset/">Olvidaste la contraseña?</a>
{% endblock %}
